.block-disqus-comment-bubble {
  background: transparent url(images/comment_bubble.png) no-repeat center center;
  display: inline-block;
  width: 88px;
  height: 70px;
  cursor: pointer;
  position: absolute;
  left: -100px;
  z-index: 1;
}

.comment-count {
  padding-top: 35px;
  text-align: center;
  font-size: 20px;
  color: #fff;
}

.comment-count.empty {
  width: 50px;
  margin: auto;
  padding-top: 45px;
}

.comment-count.empty:after {
  content: '';
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background-color: #fff;
  box-shadow: 20px 0 0 #fff, 40px 0 0 #fff;
}
